/* Font-family: Nunito 700
red: #e01e3c;
black: #161616;
white: #ffffff;

 */
* {
box-sizing: border-box;
}

.wrapper {
 width: 80%;
 margin: 0 auto;
 max-width: 1000px;

}

 /* Header */

header {
    height: 75px;
    background: linear-gradient(to bottom, #e76b8f, transparent);

}

a {
    text-decoration: none;

}

/* parent */
.nav-flex-container {
    height: 75px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;

}

/* child */
.nav-box {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 20px;

}

.nav-box a:hover {
    color: white;
}

/* nav components & hovers */
.logo,
.language,
.search {
    color: #454545;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;

}

.logo:hover,
.language:hover,
.search:hover {
    background: #7b1fa2;
}

.shopping {

}

.shopping:hover {
    background: #ff6d00;
}

.about {

}

.about:hover {
    background: #3e2723;
}

.attraction {

}

.attraction:hover {
    background: #c62828;
}

.transportation {

}

.transportation:hover {
    background: #303f9f;
}

.accommodation {

}

.accommodation:hover {
    background: #880e4f;
}

.food {

}

.food:hover {
    background: #006064;
}

/* Hero Section */
.hero {
    height: 600px;
    background: radial-gradient(transparent, mistyrose),
    url("../img/1.jpg");
    background-size:cover;

}

/* parent class */
.hero-container {
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

/* child-class */
.hero-box {
    height: 100px;
    margin: 60px;
}

.title {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;

}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 10px;

}

/* Featured Product Sections */
.highlight {
    height: 450px;
    padding: 30px;
    /* background: #708090; */
    background: radial-gradient(#faebd7 0%, #e76b8f 30%, #f48fb1 60%, transparent 90%);
}

.highlight h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 20px;
}

/* parent */
.hi-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    flex-shrink: 1;
    flex-grow: 1;
}

.card-container {
    width: 384px;
    height: 261px;

    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    position: relative;
    overflow: hidden;

}

.card-container-1 {
    background-image: url('../img/culture.jpg');

}

.card-container-2 {
    background-image: url('../img/history.jpg');

}

.card-container-3 {
    background-image: url('../img/nature.jpg');

}


/* child */
.card {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #5d4037, transparent);
    transform: translateY(100px);
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    padding: 10px 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;


}

.card a {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffccbc;

}

.card-container:hover .card {
    transform: translateY(0px);
}



.event {
    height: 300px;
    padding: 50px;
    background: linear-gradient(to bottom, transparent, #f48fb1);

    /* background: #708090; #e76b8f 30%, #f48fb1 60%,*/
}

.event h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

/* parent */
.event-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;

}

/* child */
.event-box {
    height: 100px;
    width: 200px;
    background: rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

footer {
    height: 400px;
    background: #808B96;
}

/* grandparent */
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

}

/* parent */
.social-container {
    height: 300px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.fa {
    height: 30px;
    margin: 10px;

}

.contact-container {
    height: 300px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.about-container {
    height: 300px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
